header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #24292e;
    color: whitesmoke;
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 30%;
}

header div img{
    width: 100%;
    border: 1px #dddddd solid;
    border-radius: 100%;
}

.Name{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 85%;
}

.Name p{
    margin: 0;
    padding: 0;
}

#arrow{cursor: pointer;}

#arrow:hover{
    animation: zoom 1.5s infinite;
    -moz-animation: zoom 1.5s infinite;      /* Firefox */
    -webkit-animation: zoom 1.5s infinite;   /* Chrome - Safari */
}

@keyframes zoom{
    0% {transform: scale(1);}
    50% {transform: scale(1.3);}
    100% {transform: scale(1);}
}